# Q1. What exactly is []?

Ans. List

# Q2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [25]:
spam = [2,4,6,8,10]

In [26]:
spam.insert(2,'hello')

In [27]:
print(spam)

[2, 4, 'hello', 6, 8, 10]

Q3. What is the value of spam[int(int('3' * 2) / 11)]?

In [28]:
#Ans. It will take the third index
spam[int(int('3' * 2) / 11)]

6

Q4. What is the value of spam[-1]?

Ans. -1 means it takes the last index. spam[-1] = 10

Q5. What is the value of spam[:2]?

Ans. It will start from 0th index(inclusive) and terminate at 2nd index(exclusive)

spam[:2] = [2,4]

# Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [33]:
bacon = [3.14,'cat',11,'cat',True]

Q6. What is the value of bacon.index('cat')?

Ans. It will pick up the 1st appearance of 'cat' i.e 1

In [37]:
bacon.index('cat')

1

Q7. How does bacon.append(99) change the look of the list value in bacon?

Ans. It will add 99 at the end of list

In [44]:
bacon.append(99)

In [45]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Q8. How does bacon.remove('cat') change the look of the list in bacon?

Ans. It will remove 'cat' from its 1st appearance

In [46]:
bacon.remove('cat')

In [47]:
bacon

[3.14, 11, 'cat', True, 99]

Q9. What are the list concatenation and list replication operators?

Ans. Lists can be concatenated directly using '+' operator. List can be replicated by using copy function.

In [48]:
l = [1,2,3]
l1 = [34,3,214]

In [49]:
l + l1

[1, 2, 3, 34, 3, 214]

In [50]:
lst = [1,2,3,4]

In [57]:
l2 = lst.copy()

In [58]:
l2

[1, 2, 2, 3, 4]

Q10. What is difference between the list methods append() and insert()?

Ans. append() operation adds the element inside the list at the last position. Whereas insert operation inserts any element at the specified position.

In [59]:
lst = [1,2,3,4,5]

In [60]:
lst.append(6)

In [61]:
lst

[1, 2, 3, 4, 5, 6]

In [62]:
lst.insert(6,7)

In [63]:
lst

[1, 2, 3, 4, 5, 6, 7]

Q11. What are the two methods for removing items from a list?

Ans. pop() operation will remove a random item from the list and returns the removed item.

remove() operation will remove the item in the list.

In [64]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [65]:
lst.pop()

7

In [66]:
lst

[1, 2, 3, 4, 5, 6]

In [73]:
lst.remove(4)

In [74]:
lst

[1, 3, 5]

Q12. Describe how list values and string values are identical.

Ans. Indexing is similar in both list values and string values.Both can be iterated.

Q13. What's the difference between tuples and lists?

Ans. Items inside a list is mutable i.e its possible to replace the items inside a list. Whereas Items inside a tuple is immutable i.e its not possible to replace the items inside a tuple.

In [75]:
lst = [1,2,3,4]

In [76]:
lst[2] = 'abs'

In [77]:
lst

[1, 2, 'abs', 4]

In [78]:
tup = (1,2,3,4)

In [80]:
tup[2] = 'chi'

TypeError: 'tuple' object does not support item assignment

Q14. How do you type a tuple value that only contains the integer 42?

Ans. tup = (42)

In [81]:
t = (42)

In [82]:
type(t)

int

Q15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans. By TypeCasting

In [83]:
lst = [1,2,3,'shubh',True,45.56]

In [84]:
tuple(lst)

(1, 2, 3, 'shubh', True, 45.56)

In [85]:
tup = (1,2,3,4,5,90.08,False,'cat')

In [86]:
list(tup)

[1, 2, 3, 4, 5, 90.08, False, 'cat']

Q16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

Ans. Variables will contain references to list values rather than list values themselves.

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans. copy() create reference to original object. If we change copied object we change the original object. deepcopy() creates new object and does real copying of original object to new one.